<!DOCTYPE html>
<html>
	<head>
		<title>SABESP API</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			  <div class="navbar-header">
			    <a class="navbar-brand" href="#">SABESP API</a>
			  </div>
			</div>
		</nav>
      	<div class="row" id="alerts"></div>
      	<div class="row" id="content"></div>
    </div>


	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!-- Core JS
		================================================== -->

		<!-- Template Engine -->
		<script id="thumbnail_info" type="text/x-dot-template">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
				  <div class="caption">
					<h2>{{=it.name}}</h2>
					<hr>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="18,8" aria-valuemin="0" aria-valuemax="100" style="width: {{=it.vl}} ;">
							{{=it.vl_p}}
						</div>
					</div>
					<hr>
					{{?it.data.length}}
						<ul class="nav nav-pills nav-stacked">
			    			{{~ it.data :p}}
			    				<li role="presentation"><a href="#">{{=p.key}} <span class="label label-primary">{{=p.value}}</span></a></li>
			    			{{~}}
						</ul>
					{{?}}
				  </div>
				</div>
			</div>
		</script>
		<script id="message_error" type="text/x-dot-template">
			<div class="alert alert-danger" role="alert">{{=mensagem}}</div>
		</script>

		<!-- Vendos -->
		<!-- <script src="core_js/vendor/doT/doT.js"></script> -->
		<script src="core_js/vendor/doT/doT.min.js"></script>
		<!-- <script src="core_js/vendor/doT/doU.js"></script> -->

		<!-- Modules -->
		<script src="core_js/module/call-ajax-module.js"></script>
		<script src="core_js/module/show-message-module.js"></script>

		<!-- Models -->
		<script src="core_js/model/sabesp-model.js"></script>

		<!-- Controllers -->
		<script src="core_js/controller/index-controller.js"></script>

	</body>
</html>